.button {
  min-height: var(--common-button-height);
  border: 0;
  padding: 0.5rem var(--common-button-padding-inline);
  color: var(--component-button-primary-text);
  cursor: pointer;
  font: inherit;
  font-size: var(--common-button-font-size);
  justify-self: start;
  line-height: 1.2;
  width: fit-content;
}

.size--medium {
  min-height: var(--common-button-height);
}

.size--small {
  min-height: var(--common-button-height);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.55;
}

.variant--primary {
  background: var(--component-button-primary-background);
  box-shadow: var(--theme-shadow-button);
}

.variant--secondary {
  background: var(--component-button-secondary-background);
  color: var(--component-button-secondary-text);
}

.variant--tertiary {
  background: var(--component-button-tertiary-background);
  color: var(--component-button-tertiary-text);
}

.variant--quadrary {
  background: var(--component-button-quadrary-background);
  color: var(--component-button-quadrary-text);
}

.emotButton {
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
}

.emotButton.size--medium {
  width: var(--common-button-icon-size);
  height: var(--common-button-icon-size);
  padding: 0;
}

.emotButton.size--small {
  width: var(--common-button-icon-size);
  height: var(--common-button-icon-size);
  padding: 0;
}